@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@400;700;900&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@400;700;900&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@400;700;900&family=Roboto:wght@400;500;700&display=swap");
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.footer__text {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  z-index: 1;
  margin-top: 8%;
}

.footer__img {
  z-index: 0;
  position: absolute;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  gap: 1.25rem;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 9;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  background: #223242;
  border-radius: 0 0 2rem 2rem;
  margin: 0 auto;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__links-item {
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0 1.5625rem;
}

.navbar__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4rem;
}

.navbar__sign-btn {
  font-size: 0.9375rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.navbar__sign-btn--up {
  color: #ffffff;
  background: none;
}

.navbar__sign-btn--in {
  padding: 0.40625rem 0.75rem;
  border-radius: 0.25rem;
  background: #ffffff;
  margin-left: 1.5625rem;
}

.table__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  row-gap: 0.8rem;
  margin: 20vh 0;
}

.table__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2/11;
  -ms-grid-columns: 2.5fr 7fr 2.5fr 2.5fr 1.5fr 2fr;
      grid-template-columns: 2.5fr 7fr 2.5fr 2.5fr 1.5fr 2fr;
  background: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  height: 4rem;
  border-radius: 0.625rem;
  padding-left: 3rem;
  margin-bottom: 1rem;
}

.table__row-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2/11;
  height: 70vh;
  overflow-y: scroll;
}

.table__row-item {
  color: #131b23;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  padding-right: 2rem;
}

.table__row-item:first-child {
  cursor: pointer;
}

.table__row-btn {
  color: #ffffff;
  font-size: 0.9375rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5625rem 1.5625rem;
  border-radius: 1.5625rem;
}

.table__row-btn--positive {
  background: linear-gradient(98.41deg, #00ccaa 0%, #30c5c5 100%);
}

.table__row-btn--negative {
  background: linear-gradient(98.41deg, #ff3864 0%, #fa4f75 0.01%, #c9222c 100%);
}

.table__row--main {
  background: #223242;
  border-radius: 0.625rem 0.625rem 0 0;
}

.table__row--main-item {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-align: center;
  text-transform: capitalize;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2/11;
  margin-bottom: 10%;
}

.projects__title {
  color: #131b23;
  font-size: 1.8125rem;
  font-weight: 700;
  text-align: left;
}

.map {
  width: 61.625rem;
  height: 28.125rem;
}

.create {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.create__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 78%;
  margin: 0 auto;
}

.create__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.create__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  margin-bottom: 10%;
}

.create__area-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create__checkbox--budget {
  margin-top: 0.9rem;
}

.create__checkbox-text {
  color: #131b23;
  font-size: 1.2rem;
  margin-left: 0.7rem;
}

.create__name {
  color: #131b23;
  font-size: 1.375rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 1.4rem;
}

.create__title {
  width: 23rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  outline: none;
  padding: 0 0.5rem;
}

.create__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create__range {
  width: 18.0625rem;
}

.create__budget {
  width: 18.0625rem;
  height: 2.1875rem;
  border-radius: 0.3125rem;
  outline: none;
  padding: 0 0.5rem;
}

.create__budget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create__description {
  color: #131b23;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  resize: none;
  width: 48.125rem;
  height: 15.5625rem;
  border-radius: 0.3125rem;
  outline: none;
  padding: 0.5rem;
  margin-top: 1.4rem;
}

.create__description-container {
  margin-top: 4rem;
}

.create__btn {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.0625rem;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #131b23;
  border-radius: 2rem;
  padding: 1.2rem 1.25rem;
  margin-top: 1.4rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 14rem;
  height: 16rem;
  -webkit-filter: drop-shadow(0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.24));
          filter: drop-shadow(0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.24));
  background: #223242;
  border-radius: 0.625rem;
  cursor: pointer;
}

.card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem 3rem;
  margin-top: 4%;
}

.card__icon {
  margin-top: 4rem;
}

.card__title {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.4375rem;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 2.875rem;
}

.signup__container,
.login__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
}

.signup__form,
.login__form {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  border-radius: 0.625rem;
  margin: 7rem auto 10rem auto;
  padding: 4rem 3.2rem;
}

.signup__title,
.login__title {
  color: #131b23;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.signup__input,
.login__input {
  color: #223242;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  outline: none;
  border-bottom: 0.0625rem solid #131b23;
  margin-bottom: 2.5625rem;
  padding-bottom: 0.15rem;
}

.signup__input::-webkit-input-placeholder,
.login__input::-webkit-input-placeholder {
  color: #223242;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.signup__input:-ms-input-placeholder,
.login__input:-ms-input-placeholder {
  color: #223242;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.signup__input::-ms-input-placeholder,
.login__input::-ms-input-placeholder {
  color: #223242;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.signup__input::placeholder,
.login__input::placeholder {
  color: #223242;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.signup__input--username,
.login__input--username {
  width: 24.8rem;
  margin-right: 2.8rem;
}

.signup__input--password,
.login__input--password {
  width: 24.8rem;
}

.signup__input--last,
.login__input--last {
  width: 24.8rem;
  margin-bottom: 1.7rem;
}

.signup__link,
.login__link {
  color: #ff3864;
}

.signup__btn,
.login__btn {
  color: #ffffff;
  font-family: inter;
  font-weight: 500;
  font-size: 0.9375rem;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 8.6875rem;
  height: 3rem;
  background: #223242;
  border-radius: 1.5625rem;
  padding: 0.9375rem 2.375rem;
  margin-top: 2.4rem;
}

.signup__alert,
.login__alert {
  color: #d92537;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.calendar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.calendar__day-container {
  min-height: 10rem;
}

.calendar__day-event {
  color: #131b23;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.calendar__days {
  color: #131b23;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  margin-top: 2rem;
}

.calendar__days-name {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  text-align: left;
  height: 5.625rem;
  background: #131b23;
  border-radius: 0.625rem 0.625rem 0 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  padding: 2rem;
}

.user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  background: #ffffff;
  height: 550px;
  border-radius: 0.625rem;
}

.user__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  margin: 8% 0;
}

.user-data {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
  width: 80%;
  margin: 2.5rem auto;
}

.user-data__username-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-data__username-text {
  color: #223242;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 2.5rem;
}

.user-data__btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.user-data__btns-item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  background: #223242;
  border-radius: 4px;
  padding: 10px 14px;
  margin-right: 2.5rem;
}

.user__left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 550px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background: #223242;
  border-radius: 0.625rem 0 0 0.625rem;
}

.user__row {
  margin: 2.5rem 0;
}

.user__item {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 0.6rem;
}

.user__password-alert {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 430px;
  height: 274px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  margin: auto;
}

.user__password-input {
  color: #223242;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  outline: none;
  width: 70%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 1.5rem 0 0 5%;
  border-bottom: 1px solid #131b23;
}

.user__password-input--last {
  margin: 1.5rem 0 2rem 5%;
}

.user__delete-alert {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 430px;
  height: 264px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  margin: auto;
}

.user__delete-title {
  color: #223242;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}

.user__delete-password {
  color: #223242;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: none;
  width: 70%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2.5rem 0 2rem 5%;
  border-bottom: 1px solid #131b23;
}

.user__delete-password::-webkit-input-placeholder {
  color: #223242;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.user__delete-password:-ms-input-placeholder {
  color: #223242;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.user__delete-password::-ms-input-placeholder {
  color: #223242;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.user__delete-password::placeholder {
  color: #223242;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.user__delete-checkbox {
  margin-right: 0.4rem;
}

.user__delete-checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.user__delete-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 2.5rem 5% 0 0;
}

.user__delete-btn--blue {
  background: #223242;
}

* {
  font-size: 100%;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a,
a:visited,
a:link,
a:hover {
  color: unset;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background: #eaeaea;
}

h1 {
  color: #223242;
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-align: center;
  margin: 8rem auto 4rem auto;
}
/*# sourceMappingURL=app.css.map */