{% extends 'base.html' %} {% block content %}

<div class="signup__container">
    <form action="#" method="post" class="signup__form">
        <p class="signup__title">Rejestracja</p>

        <div class="signup__names-container">
            <input
                type="text"
                name="username"
                class="signup__input signup__input--username"
                id="username"
                placeholder="Nazwa Użytkownika"
            />
        </div>

        <input
            type="password"
            name="password"
            class="signup__input signup__input--password"
            id="password-input"
            placeholder="Utwórz hasło"
        />

        <input
            type="password"
            name="retype-password"
            class="signup__input signup__input--last"
            id="retype-password-input"
            placeholder="Powtórz hasło"
        />

        <p>
            Masz już konto?
            <span class="signup__link">
                <a href="{{ url_for('login.index') }}">Zaloguj się</a>
            </span>
        </p>

        <div id="signup__alert-container"></div>

        <button class="signup__btn" type="submit">
            <a href="#">Rejestruj </a>
        </button>
    </form>
</div>

{% endblock %}
