{% extends 'base.html' %} {% block content %}

<div class="signup__container">
    <div id="map" class="map"></div>

    <form action="#" method="post" class="signup__form">
        <p class="signup__title">Rejestracja</p>

        <div class="signup__names-container">
            <input
                type="text"
                name="username"
                class="signup__input signup__input--username"
                id="username-input"
                placeholder="Nazwa Użytkownika"
            />
        </div>

        <input
            type="password"
            name="password"
            class="signup__input signup__input--password"
            id="password-input"
            placeholder="Utwórz hasło"
        />

        <input
            type="password"
            name="retype-password"
            class="signup__input signup__input--last"
            id="retype-password-input"
            placeholder="Powtórz hasło"
        />

        <p>
            Masz już konto?
            <span class="signup__link">
                <a href="{{ url_for('login.index') }}">Zaloguj się</a>
            </span>
        </p>

        <div id="signup__alert-container"></div>

        <button class="signup__btn" type="submit" id="submit-btn">
            <p>Rejestruj</p>
        </button>

        <input type="hidden" id="map-long" name="longitude" value="-200" />
        <input type="hidden" id="map-lat" name="latitude" value="-200" />
    </form>

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <script>
        const passwordMinLength = 8;
        const usernameMinLength = 4;
        const passwordInput = document.getElementById("password-input");
        const retypePasswordInput = document.getElementById(
            "retype-password-input"
        );
        const signupAlertContainer = document.getElementById(
            "signup__alert-container"
        );
        const submitButton = document.getElementById("submit-btn");
        const usernameInput = document.getElementById("username-input");
        const latitudeInput = document.getElementById("map-lat");
        const longitudeInput = document.getElementById("map-long");
        disableButton();
        retypePasswordInput.addEventListener("keyup", validate);
        passwordInput.addEventListener("keyup", validate);
        usernameInput.addEventListener("keyup", validate);
        function validate() {
            removeAlert();
            let enabled = true;
            if (usernameInput.value.length < usernameMinLength) {
                showAlert("Nazwa użytkownika musi mieć minimum 4 znaki!");
                enabled = false;
            }
            if (passwordInput.value.length == 0) enabled = false;
            if (
                passwordInput.value.length < passwordMinLength &&
                passwordInput.value.length != 0
            ) {
                showAlert("Hasło musi mieć minimum 8 znaków!");
                enabled = false;
            }
            if (passwordInput.value != retypePasswordInput.value) {
                showAlert("Hasła nie są identyczne!");
                enabled = false;
            }
            if (
                -180 > latitudeInput.value ||
                latitudeInput.value > 90 ||
                -180 > longitudeInput.value ||
                longitudeInput > 180
            ) {
                showAlert("Wybierz lokalizacje zamieszkania!");
                disableButton();
                return;
            }
            if (!enabled) {
                disableButton();
                return;
            }
            enableButton();
        }
        function disableButton() {
            submitButton.disabled = true;
            submitButton.style.opacity = "0.5";
        }
        function enableButton() {
            submitButton.removeAttribute("disabled");
            submitButton.style.opacity = "1";
        }
        function showAlert(message) {
            if (signupAlertContainer.children.length === 0) {
                let alert = document.createElement("p");
                alert.classList.add("signup__alert");
                alert.innerHTML = message;
                signupAlertContainer.appendChild(alert);
            }
        }
        function removeAlert() {
            if (signupAlertContainer.children.length !== 0)
                signupAlertContainer.children[0].remove();
        }
    </script>
    <script>
        var markerFeature = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.fromLonLat([19.38, 52.12])),
        });

        var map = new ol.Map({
            target: "map",
            controls: [],
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM(),
                }),
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([19.38, 52.12]),
                zoom: 6,
            }),
        });

        var vectorLayer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: [markerFeature],
            }),
            style: new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 46],
                    anchorXUnits: "fraction",
                    anchorYUnits: "pixels",
                    src: "{{ url_for('static', filename='assets/marker.png') }}",
                }),
            }),
        });

        map.addLayer(vectorLayer);

        map.on("click", function (evt) {
            var coords = ol.proj.transform(
                evt.coordinate,
                "EPSG:3857",
                "EPSG:4326"
            );

            markerFeature
                .getGeometry()
                .setCoordinates(ol.proj.fromLonLat([coords[0], coords[1]]));

            document.getElementById("map-long").value = coords[0];
            document.getElementById("map-lat").value = coords[1];

            validate();
        });
    </script>
</div>

{% endblock %}
