{% extends 'base.html' %} {% block content %}

<div class="signup__container signup__container--grid">
    <div id="map" class="map map--signup"></div>

    <form action="#" method="post" class="signup__form signup__form--grid">
        <p class="signup__title">Rejestracja</p>

        <div class="signup__names-container">
            <input
                type="text"
                name="username"
                class="signup__input signup__input--username"
                id="username-input"
                placeholder="Nazwa Użytkownika"
            />
        </div>

        <input
            type="password"
            name="password"
            class="signup__input signup__input--password"
            id="password-input"
            placeholder="Utwórz hasło"
        />

        <input
            type="password"
            name="retype-password"
            class="signup__input signup__input--last"
            id="retype-password-input"
            placeholder="Powtórz hasło"
        />

        <p>
            Masz już konto?
            <span class="signup__link">
                <a href="{{ url_for('login.index') }}">Zaloguj się</a>
            </span>
        </p>

        <div id="signup__alert-container"></div>

        <button class="signup__btn" type="submit" id="submit-btn">
            <p>Rejestruj</p>
        </button>

        <input type="hidden" id="map-long" name="longitude" value="-200" />
        <input type="hidden" id="map-lat" name="latitude" value="-200" />
    </form>
</div>

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
<script src="{{ url_for('static', filename='dist/SignupValidation.js') }}"></script>
<script
    type="module"
    src="{{ url_for('static', filename='dist/SignupMap.js') }}"
></script>

{% endblock %}
