.user {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column: 4/9;
    background: $white;
    height: 34.375rem;
    border-radius: 0.625rem;

    &__container {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        margin: 8% 0;
    }

    &-data {
        grid-column: 3/8;
        width: 80%;
        margin: 2.5rem auto;

        &__username {
            &-container {
                display: flex;
            }

            &-text {
                color: $blue;
                font-family: $lato;
                font-weight: 700;
                font-size: 1rem;

                margin-right: 2.5rem;
            }
        }

        &__btns {
            &-container {
                display: flex;
                margin-top: 2rem;
            }

            &-item {
                color: $white;
                font-size: 0.875rem;
                font-weight: 700;
                font-family: $lato;
                cursor: pointer;

                background: $blue;
                border-radius: 0.25rem;

                padding: 0.625rem 0.875rem;
                margin-right: 2.5rem;
            }
        }
    }

    &__left-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        height: 34.375rem;
        grid-column: 1/3;
        background: $blue;
        border-radius: 0.625rem 0 0 0.625rem;
    }

    &__row {
        margin: 2.5rem 0;
    }

    &__item {
        color: $white;
        font-family: $inter;
        font-weight: 600;
        font-size: 1.0625rem;
        cursor: pointer;

        margin-bottom: 0.6rem;
    }

    &__password {
        &-alert {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            align-items: center;
            flex-direction: column;

            width: 26.875rem;
            height: 20.125rem;

            background: $white;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
            margin: auto;
        }

        &-input {
            color: $blue;
            font-family: $lato;
            font-weight: 400;
            font-size: 1rem;
            outline: none;
            width: 70%;
            align-self: flex-start;

            margin: 1.5rem 0 0 5%;

            border-bottom: 0.0625rem solid $blue;

            &--last {
                margin: 1.5rem 0 2rem 5%;
            }

            &--second {
                margin: 0 0 2rem 5%;
            }
        }
    }

    &__delete {
        &-alert {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            align-items: center;
            flex-direction: column;

            width: 26.875rem;
            height: 16.5rem;

            background: $white;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
            margin: auto;

            &--change-name {
                height: 20.5rem;
            }
        }

        &-title {
            color: $blue;
            font-family: $inter;
            font-size: 1.25rem;
            font-weight: 600;

            text-align: center;
            padding-top: 1rem;
        }

        &-password {
            color: $blue;
            font-family: $lato;
            font-weight: 400;
            font-size: 1.125rem;
            outline: none;
            width: 70%;
            align-self: flex-start;

            margin: 2.5rem 0 2rem 5%;

            border-bottom: 0.0625rem solid $blue;

            &::placeholder {
                color: $blue;
                font-family: $lato;
                font-weight: 400;
                font-size: 1rem;
            }
        }

        &-checkbox {
            margin-right: 0.4rem;

            &-container {
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                margin-left: 1rem;
            }
        }

        &-btn {
            align-self: flex-end;
            margin: 2.5rem 5% 0 0;

            &--blue {
                background: $blue;
            }
        }
    }
}
