{% extends 'base.html' %} {% block content %}

<h1>Tworzenie Projektu</h1>

<div class="create__container">
    <div class="create">
        <div id="map" class="map"></div>

        <form action="#" method="post" class="create__form">
            <div class="create__row">
                <div class="create__area-container">
                    <label for="map-radius" class="create__name"
                        >Obszar projektu
                    </label>

                    <input
                        type="range"
                        name="radius"
                        id="map-radius"
                        class="create__range"
                        min="0"
                        max="5000"
                        onchange="radiusChanged()"
                        oninput="radiusChanged()"
                        step="1.5"
                    />
                </div>
            </div>

            <div class="create__row">
                <div class="create__title-container">
                    <label for="project-name" class="create__name"
                        >Nazwa Projektu</label
                    >

                    <input
                        type="text"
                        name="label"
                        id="project-name"
                        class="create__title"
                        placeholder="Podaj nazwę projektu..."
                    />
                </div>
            </div>

            <div class="create__description-container">
                <label for="project-description" class="create__name"
                    >Opis Projektu:</label
                >

                <textarea
                    name="description"
                    id="project-description"
                    class="create__description"
                    placeholder="Wpisz opis projektu..."
                ></textarea>
            </div>

            <button class="create__btn" type="submit" id="submit-btn">
                <p>Utwórz Projekt</p>
            </button>

            <input type="hidden" id="map-lat" name="latitude" value="-200" />
            <input type="hidden" id="map-long" name="longitude" value="-200" />
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>

<script>
    const labelInput = document.getElementById('project-name');
    const latitudeInput = document.getElementById('map-lat');
    const longitudeInput = document.getElementById('map-long');
    const submitButton = document.getElementById('submit-btn');
    labelInput.addEventListener('keyup', validate);
    latitudeInput.addEventListener('change', validate);
    latitudeInput.addEventListener('oninput', validate);
    longitudeInput.addEventListener('change', validate);
    longitudeInput.addEventListener('oninput', validate);
    disableButton();
    function validate() {
        if (labelInput.value.length < 5) {
            disableButton();
            return;
        }
        if (-90 > latitudeInput.value || latitudeInput.value > 90) {
            disableButton();
            return;
        }
        if (-180 > longitudeInput.value || longitudeInput > 180) {
            disableButton();
            return;
        }
        enableButton();
    }
    function disableButton() {
        submitButton.disabled = true;
        submitButton.style.opacity = '0.5';
    }
    function enableButton() {
        submitButton.removeAttribute('disabled');
        submitButton.style.opacity = '1';
    }
</script>
<script>
    let initialCoordinates = ol.proj.fromLonLat([19.38, 52.12]);
    let circleFeature = new ol.Feature({
        geometry: new ol.geom.Circle(
            [0, 0], // center
            0 // radius
        ),
    });

    let map = new ol.Map({
        target: 'map',
        controls: [],
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM(),
            }),
        ],
        view: new ol.View({
            center: initialCoordinates,
            zoom: 6,
        }),
    });

    let vectorLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [circleFeature],
        }),
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'rgba(20, 100, 240, 0.3)',
            }),
            stroke: new ol.style.Stroke({
                width: 3,
                color: 'rgba(0, 100, 240, 0.8)',
            }),
            image: new ol.style.Circle({
                fill: new ol.style.Fill({
                    color: 'rgba(55, 200, 150, 0.5)',
                }),
                stroke: new ol.style.Stroke({
                    width: 10,
                    color: 'rgba(55, 200, 150, 0.8)',
                }),
                radius: 7,
            }),
        }),
    });

    let center = initialCoordinates;
    let radius = 0;

    map.addLayer(vectorLayer);

    let geometry = circleFeature.getGeometry();

    const radiusChanged = () => {
        radius = document.getElementById('map-radius').value;

        geometry.setCenter(ol.proj.fromLonLat(center));
        geometry.setRadius(parseInt(radius));
    };

    map.addEventListener('click', function (evt) {
        radius = document.getElementById('map-radius').value;
        center = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');

        geometry.setCenter(ol.proj.fromLonLat(center));
        geometry.setRadius(parseInt(radius));

        document.getElementById('map-lat').value = center[1];
        document.getElementById('map-long').value = center[0];

        validate();
    });
</script>

{% endblock %}
