{% extends 'base.html' %} {% block content %}

<section class="table__container">
    <div class="table__row table__row--main">
        <p class="table__row--main-item">Nazwa projektu</p>
        <p class="table__row--main-item">Opis</p>
        <p class="table__row--main-item">Głosy Za</p>
        <p class="table__row--main-item">Głosy Przeciw</p>
        <p class="table__row--main-item">Oddaj głos</p>
    </div>

    <div id="table-row-container" class="table__row-container"></div>
    <script
        type="module"
        src="{{ url_for('static', filename='dist/InfiniteScroll.js') }}"
    ></script>
</section>

<section class="projects">
    <div class="projects__container">
        <p class="projects__title">Twoje projekty</p>

        <div class="card__container">
            <a href="{{ url_for('projects.create') }}">
                <div class="card">
                    <img
                        src="{{ url_for('static', filename='assets/plus.svg') }}"
                        alt=""
                        class="card__icon"
                    />
                    <p class="card__title">Utwórz Projekt</p>
                </div>
            </a>

            <a href="#">
                <div class="card">
                    <img
                        src="{{ url_for('static', filename='assets/city.svg') }}"
                        alt=""
                        class="card__icon"
                    />
                    <p class="card__title">Lorem ipsum</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="projects">
    <div class="projects__container">
        <p class="projects__title">Projekty na które oddałeś głos</p>

        <div class="card__container">
            <a href="#">
                <div class="card">
                    <img
                        src="{{ url_for('static', filename='assets/city.svg') }}"
                        alt=""
                        class="card__icon"
                    />
                    <p class="card__title">Lorem ipsum</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="projects">
    <div class="projects__container">
        <p class="projects__title">Popularne projekty w twojej okolicy</p>

        <div class="card__container">
            <a href="#">
                <div class="card">
                    <img
                        src="{{ url_for('static', filename='assets/city.svg') }}"
                        alt=""
                        class="card__icon"
                    />
                    <p class="card__title">Lorem ipsum</p>
                </div>
            </a>
        </div>
    </div>
</section>

{% endblock %}
