{% extends 'base.html' %} {% block content %}

<section class="table__container">
    <div class="table__row table__row--main">
        <p class="table__row--main-item">Nazwa projektu</p>
        <p class="table__row--main-item">Opis</p>
        <p class="table__row--main-item">Głosy Za</p>
        <p class="table__row--main-item">Głosy Przeciw</p>
        <p class="table__row--main-item">Oddaj głos</p>
    </div>

    <div class="table__row">
        <p class="table__row-item">
            <a href="#">Test project</a>
        </p>
        <p class="table__row-item">
            Lorem ipsum dolor sit consectetur adipiscing Etiam vel efficitur
            ligula. olor sit donecit...
        </p>

        <p class="table__row-item">12024</p>

        <p class="table__row-item">627</p>

        <button type="submit" class="table__row-btn table__row-btn--positive">
            <a href="#">Za</a>
        </button>

        <button type="submit" class="table__row-btn table__row-btn--negative">
            <a href="#">Przeciw</a>
        </button>
    </div>
</section>

<section class="projects">
    <div class="projects__container">
        <p class="projects__title">Twoje Projekty</p>

        <div class="card__container">
            <a href="{{ url_for('projects.create') }}">
                <div class="card">
                    <img
                        src="{{ url_for('static', filename='assets/plus.svg') }}"
                        alt=""
                        class="card__icon"
                    />
                    <p class="card__title">Utwórz Projekt</p>
                </div>
            </a>

            <a href="#">
                <div class="card">
                    <img
                        src="{{ url_for('static', filename='assets/city.svg') }}"
                        alt=""
                        class="card__icon"
                    />
                    <p class="card__title">Lorem ipsum</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="projects">
    <div class="projects__container">
        <p class="projects__title">Projekty Na Które Oddałeś Głos</p>

        <div class="card__container">
            <a href="#">
                <div class="card">
                    <img
                        src="{{ url_for('static', filename='assets/city.svg') }}"
                        alt=""
                        class="card__icon"
                    />
                    <p class="card__title">Lorem ipsum</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="projects">
    <div class="projects__container">
        <p class="projects__title">Popularne Projekty w twoim mieście</p>

        <div class="card__container">
            <a href="#">
                <div class="card">
                    <img
                        src="{{ url_for('static', filename='assets/city.svg') }}"
                        alt=""
                        class="card__icon"
                    />
                    <p class="card__title">Lorem ipsum</p>
                </div>
            </a>
        </div>
    </div>
</section>

{% endblock %}
