.table {
    &__container {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        row-gap: 0.8rem;
        margin: 15vh 0;
    }

    &__row {
        display: grid;
        grid-column: 2/11;
        grid-template-columns: 2.5fr 7fr 2.5fr 2.5fr 1.5fr 2fr;
        background: $white;

        align-items: center;
        justify-items: start;

        height: 4rem;
        border-radius: 0.625rem;

        padding-left: 3rem;
        margin-bottom: 1rem;

        &-container {
            grid-column: 2/11;
            height: 17rem;

            overflow-y: scroll;
        }

        &-item {
            color: $darkBlue;
            font-size: 0.875rem;
            font-weight: 500;
            font-family: $lato;
            padding-right: 2rem;

            &:first-child {
                cursor: pointer;
            }
        }

        &-btn {
            color: $white;
            font-size: 0.9375rem;
            font-weight: 500;
            font-family: $roboto;
            text-align: center;
            cursor: pointer;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.5625rem 1.5625rem;

            border-radius: 1.5625rem;

            &--positive {
                background: linear-gradient(98.41deg, #00ccaa 0%, #30c5c5 100%);
            }

            &--negative {
                background: linear-gradient(
                    98.41deg,
                    #ff3864 0%,
                    #fa4f75 0.01%,
                    #c9222c 100%
                );
            }
        }

        &--main {
            background: $blue;
            border-radius: 0.625rem 0.625rem 0 0;

            &-item {
                color: $white;
                font-weight: 500;
                letter-spacing: 0.03rem;
                text-align: center;
            }
        }
    }

    &__loader {
        border: 0.375rem solid #b4b4b4;
        border-radius: 50%;
        border-top: 0.375rem solid #363636;
        width: 2.8125rem;
        height: 2.8125rem;
        -webkit-animation: spin 1.2s infinite;
        animation: spin 1.2s ease-in-out infinite;
        margin: 0 auto;

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
