{% extends 'base.html' %} {% block content %}

<section id="user-container" class="user__container">
    <form class="user">
        <ul class="user__left-bar">
            <div class="user__row">
                <li id="user-data-account" class="user__item">Twoje dane</li>
                <li id="user-logout-account" class="user__item">Wyloguj się</li>
            </div>

            <div class="user__row">
                <p id="user-delete-account" class="user__item">Usuń konto</p>
            </div>
        </ul>
    </form>
</section>

{% endblock %}
