{% extends 'base.html' %} {% block content %}

<div class="login__container">
    <form action="#" method="post" class="login__form">
        <p class="login__title">Logowanie</p>

        <div class="login__names-container">
            <input
                type="text"
                name="username"
                class="login__input login__input--username"
                id="username-input"
                placeholder="Nazwa Użytkownika"
            />
        </div>

        <input
            type="password"
            name="password"
            class="login__input login__input--last"
            id="password-login"
            placeholder="Hasło"
        />

        <p>
            Nie masz konta?
            <span class="login__link">
                <a href="{{ url_for('signup.index') }}">Zarejestruj się</a>
            </span>
        </p>

        <button class="login__btn" type="submit" id="submit-btn">
            <p>Zaloguj</p>
        </button>
    </form>
</div>

{% endblock %}
