{% extends 'base.html' %} {% block content %}
<div class="signup__container">
    <form action="#" method="post" class="signup__form">
        <p class="signup__title">Rejestracja</p>

        <div class="signup__names-container">
            <input
                type="text"
                name="name"
                class="signup__input signup__input--name"
                id="name"
                placeholder="Imię"
            />

            <input
                type="text"
                name="surname"
                class="signup__input signup__input--surname"
                id="surname"
                placeholder="Nazwisko"
            />
        </div>

        <input
            type="password"
            name="password"
            class="signup__input signup__input--password"
            id="password"
            placeholder="Utwórz hasło"
        />

        <input
            type="password"
            name="retype-password"
            class="signup__input signup__input--last"
            id="retype-password"
            placeholder="Powtórz hasło"
        />

        <p>
            Masz już konto?
            <span class="signup__link">
                <a href="{{ url_for('signin.index') }}">Zaloguj się</a>
            </span>
        </p>

        <button class="signup__btn" type="submit">
            <a href="#">Rejestruj </a>
        </button>
    </form>
</div>

{% endblock %}
