.footer {
    display: flex;
    justify-content: center;
    justify-items: center;

    &__text {
        color: $white;
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        z-index: 1;
        margin-top: 8%;
    }

    &__img {
        z-index: 0;
        position: absolute;
    }
}
