{% extends 'base.html' %} {% block content %}

<div class="signin__container">
    <form action="#" method="post" class="signin__form">
        <p class="signin__title">Logowanie</p>

        <div class="signin__names-container">
            <input
                type="text"
                name="name"
                class="signin__input signin__input--name"
                id="name"
                placeholder="Imię"
            />

            <input
                type="text"
                name="surname"
                class="signin__input signin__input--surname"
                id="surname"
                placeholder="Nazwisko"
            />
        </div>

        <input
            type="password"
            name="password"
            class="signin__input signin__input--last"
            id="password"
            placeholder="Hasło"
        />

        <p>
            Nie masz konta?
            <span class="signin__link">
                <a href="{{ url_for('signup.index') }}">Zarejestruj się</a>
            </span>
        </p>

        <button class="signin__btn" type="submit">
            <a href="#">Zaloguj </a>
        </button>
    </form>
</div>

{% endblock %}
