.main {
    &-title {
        color: $blue;
        font-family: $roboto;
        font-weight: 700;
        font-size: 4rem;
        text-align: center;

        margin-top: 6.25rem;
    }

    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 10rem auto 20rem auto;
    }

    &-text {
        color: $blue;
        font-family: $roboto;
        font-weight: 700;
        font-size: 3.125rem;

        &--left {
            text-align: left;
        }

        &--center {
            text-align: center;
        }

        &--right {
            text-align: right;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0 auto 10rem auto;

        &-text {
            font-family: $roboto;
            font-weight: 700;
            font-size: 3rem;
            text-align: center;

            color: #131b23;
        }

        &-btn {
            color: $white;
            font-size: 1.25rem;
            font-weight: 400;
            font-family: $roboto;

            width: 9.5625rem;
            border-radius: 1.5625rem;
            background: $blue;

            padding: 1rem 1.625rem;
            margin-top: 2.5rem;
        }
    }
}
